@model List<LoanType>

<h3>Loan Type</h3>

<table class="table table-striped table-bordered table-hover ">
    <thead class="table-active bg-secondary text-light">
        <tr>
            <th>Loan Code</th>
            <th>Loan Description</th>
            <th>Loan Interest Rate Per Annum</th>
            <th>Minimum Loan Amount</th>
            <th>Maximum Loan Amount</th>
            <th>Minimum Age Required</th>
            <th>Maxmim Age Required</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
         <tr>
            <td>@obj.LoanCode</td>
            <td>@obj.LoanDescription</td>
            <td>@obj.LoanInterestRatePerAnnum</td>
            <td>@obj.MinimumLoanAmount</td>
            <td>@obj.MaximumLoanAmount</td>
            <td>@obj.MinimumAgeRequired</td>
            <td>@obj.MaximumAgeRequired</td>
        </tr>
        }
       
    </tbody>
</table>