
         @model List<LoanApplication>

<div >

             <table >
                 <thead>
                     <tr>
                         <th>Id</th>
                         <th>Customer Name</th>
                         <th>LoanDescription</th>
                         <th>LoanType</th>
                         <th>LoanRequiredAmount</th>
                         <th>LoanSactionAmount</th>
                         <th>loanStatus</th>
                     </tr>
                 </thead>
                 <tbody>
                    @foreach(var el in Model)
                    {
                     <tr>
                         <td>@el.ApplicationNumber</td>
                         <td>@el.CustemerName</td>
                         <td>@el.LoanType</td>
                         <td>@el.LoanType</td>
                         <td>@el.RequiredLoanAmount</td>
                         <td>@el.LoanEMI</td>
                         <td>Approved</td>
                     </tr> 
                    }
        
                 </tbody>
             </table>
             </div>